h1 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

p {
  font-family: 'Nunito', sans-serif;
}

button {
  margin-top: 10px;
  justify-self: center;
}

.mat-create {
  background-color: #005870;
  color: #fff;
}

table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow-x: scroll;
}

.mat-warni {
  background-color: #f45050;
  color: #fff;
}

.mat-column-Message {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

mat-column-StartDate, mat-column-EndtDate, mat-column-DateCreated {
  width: 20% !important;
}

/*.mat-column-Actions {
  width: 10% !important;
}*/
/*Banner Kyle 26-01-24*/
.mat-orange {
  background-color: #a2bfc6;
  right: 8px;
  margin-bottom: 10px;
  color: #fff;
}
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
  padding-right:50px;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin: 5px; /* Adjust as needed */
  margin: 5px; /* Adjust as needed */
}
.mat-column-isDisabled{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center
}
.mat-column-showDates {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center
}
.mat-column-Status {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center
}
.cont56{
  padding-top: 20px;
}

::ng-deep .mat-datepicker-toggle {
  font-size: 24px; /* Increase icon size */
}

::ng-deep .mat-checkbox-inner-container{
    display: inline-block;
    height: 10px !important;
    line-height: 0;
    margin: auto;
    margin-right: 19px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 10px !important;
    flex-shrink: 0;
}

