<!--
1. Add a new alert for "Production" & "QA"
2. Banner colour?
3. Create wayleave button functionality
4.1 Timed but can be cancelled prematurely by those who have priviledges?
4.2 Indefinite ??
5.
-->
<button mat-raised-button color="create" (click)="openCreateModal(newAlert)">Create a New System Alert</button>


<div *ngIf="dataSource.length > 0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Message">
      <th mat-header-cell *matHeaderCellDef> Message </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>
    <!-----------Banner Kyle 26/01/24-------------->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
    <!-----------Banner Kyle 26/01/24-------------->
    <ng-container matColumnDef="StartDate">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>
    <ng-container matColumnDef="EndDate">
      <th mat-header-cell *matHeaderCellDef> End Date </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
    </ng-container>
    <ng-container matColumnDef="DateCreated">
      <th mat-header-cell *matHeaderCellDef> Date Created </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreated  | date:'yyyy-MM-dd' }} </td>
    </ng-container>
    <ng-container matColumnDef="isDisabled">
      <th mat-header-cell *matHeaderCellDef> Create Buttons Disabled  </th>
      <td mat-cell *matCellDef="let element"> {{element.disabledCreate}} </td>
    </ng-container>
    <ng-container matColumnDef="showDates">
      <th mat-header-cell *matHeaderCellDef>Show Dates </th>
      <td mat-cell *matCellDef="let element"> {{element.showDates}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> actions </th>
      <td mat-cell *matCellDef="let i = index;let element">

        <button mat-raised-button color="orange" matTooltip="Edit Alert" (click)="  onOpenEditAlert(i,editAlert)"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/pencil-solid.svg" class="icon4" style="filter: invert();"></button>
        <button mat-raised-button color="warni" matTooltip="Remove Alert" (click)=" deleteAlert(i, element);"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/trash-can-solid-white.svg" class="icon4" style="filter: invert();"></button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

<ng-template #newAlert let-modal>

  <div class="standardHeader">
    <p class="standardText">Creating a new system alert</p>
    <button type="button" class="standardCloseBtn" style="margin-bottom: 9px;" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>

  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Alert Message</mat-label>
          <input matInput  type="text" name="bannerMessage" id="bannerMessage" [(ngModel)]="bannerMessage" placeholder="Enter Alert Message" />
        </mat-form-field>
      </div>
    </div>

    <p style="color: grey; font-style: italic;">**select a date range by clicking on the calendar icon then select your start date and then your end date**</p>

    <div class="row" style="width: 50%; padding-bottom: 15px;">
      <mat-form-field class="dateRangePicker">
        <mat-label >Select a date range</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker" style="color: #005870; font-weight: 500;" >
          <input matStartDate placeholder="Start date" readonly [(ngModel)]="startDate"  />
          <input matEndDate placeholder="End date" readonly  [(ngModel)]="endDate"  />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix  [for]="rangePicker"></mat-datepicker-toggle>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <!-- dateRange drop down -->
        <mat-date-range-picker #rangePicker >
          <mat-date-range-picker-actions >
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col cont56">
        <mat-checkbox (change)="onDisableCreate()" [checked]="disableCreate"> Disable Create Wayleave And Request For Service Information</mat-checkbox>
      </div>

    </div>
    <div class="row">
      <div class="col cont56">
        <mat-checkbox (change)="onShowDatesChange()" [checked]="showDates"> Display Dates in System Notification</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="createNewAlert()">Save</button>
  </div>


</ng-template>

<ng-template #editAlert let-modal>
  <!-----------Banner Kyle 26/01/24-------------->
  <div class="standardHeader">
    <p class="standardText">Edit system alert</p>
    <button type="button" class="standardCloseBtn" style="margin-bottom: 9px;" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Alert Message</mat-label>
          <input matInput  type="text"  name="bannerMessage" id="bannerMessage" [(ngModel)]="editBannerMessage" placeholder="Enter Alert Message" />
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="width: 30%; padding-bottom: 15px;">
      <mat-form-field class="dateRangePicker">
        <mat-label >Select a date range</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker" style="color: #005870;  font-weight: 500;" >
          <input matStartDate  placeholder="Start date" readonly [(ngModel)]="editStartDate"/>
          <input matEndDate  placeholder="End date" readonly [(ngModel)]="editEndDate" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix  [for]="rangePicker"></mat-datepicker-toggle>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <!-- dateRange drop down -->
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions >
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col cont56">
        <mat-checkbox (change)="onDisableCreate()" [checked]="disableCreate"> Disable Create Wayleave And Request For Service Information</mat-checkbox>
      </div>

    </div>
    <div class="row">
      <div class="col cont56">
        <mat-checkbox (change)="onShowDatesChange()" [checked]="showDates"> Display Dates in System Notification</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="onSaveEdittedAlert();modal.dismiss('Cross click')">Save</button>
  </div>

  <!-----------Banner Kyle 26/01/24-------------->

</ng-template>
