<app-nav-menu></app-nav-menu>

<h1>Configuration</h1>

<!-----------------------------------------------------Roles configuration-------------------------------------------------------------->
<div class="container-fluid glass">

  <mat-tab-group>

    <!--<mat-tab label="Roles">-->
    <!-- <app-new-role></app-new-role>-->
    <!--<app-roles-config></app-roles-config>
  </mat-tab>-->
    <!-----------------------------------------------------------Line Departments configuration-------------------------------------------------------------->

    <mat-tab label="Departments/Zones">
      <!--  <app-new-department></app-new-department>-->
      <app-bpdepartment-config></app-bpdepartment-config>
    </mat-tab>

    <!-----------------------------------------------------------Zones configuration-------------------------------------------------------------->
    <!--<mat-tab label="Zones">-->
    <!--      <app-new-zone></app-new-zone>-->
    <!--<app-zone-config></app-zone-config>
  </mat-tab>-->
    <!-----------------------------------------------------------Acess Groups configuration-------------------------------------------------------------->

    <mat-tab label="Access Groups">
      <app-bpaccess-groups-config></app-bpaccess-groups-config>
    </mat-tab>

    <!-----------------------------------------------------------Mandatory Docs configuration-------------------------------------------------------------->
    <!--<mat-tab label="Mandatory Docs">
    <app-mandatory-docs-config></app-mandatory-docs-config>
  </mat-tab>-->
    <!-----------------------------------------------------------GL Code configuration-------------------------------------------------------------->


    <!-----------------------------------------------------------Service Items configuration-------------------------------------------------------------->
    <mat-tab label="Occupation Classifications">

      <app-occupation-classification-config></app-occupation-classification-config>
    </mat-tab>

    <mat-tab label="Service Items">

     <app-bpservice-items></app-bpservice-items>
    </mat-tab>
    <!---------------------------------------Document Category ------------------------>
    <mat-tab label="Document Category">
      <app-bp-mandory-documents></app-bp-mandory-documents>
    </mat-tab>
    <!-----------------------------------------------------------Mandatory Checklist Builder-------------------------------------------------------------->

    <mat-tab label="Mandatory Checklist Builder">
      <app-checklist-config></app-checklist-config>
    </mat-tab>

    <!----------------------------------------------------Building Control Checklist ----------------------------------------------------------------->
    <mat-tab label="Building Control Checklist">
      <app-bpbuilding-controls-checklist-config></app-bpbuilding-controls-checklist-config>
    </mat-tab>
    <!----------------------------------------------------------Project Size Config------------------------------------------------------------------------->
    <!--<mat-tab label="Project Size">

    <app-project-size-config></app-project-size-config>
  </mat-tab>-->
    <!-----------------------------------------------------------CSV configuration-------------------------------------------------------------->
    <!-----------------------------------------------------------CSV configuration-------------------------------------------------------------->
    <mat-tab *ngIf="isCSVVisible" label="CSV">

      <div class="container-fluid">

        <div class="row">
          <div class="col">
            <div class="card education">
              <div class="overlay"></div>
              <div class="circle">
                <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/cloud-arrow-down-solid.svg" class="icon">
              </div>
              <p>Importing</p>
            </div>
          </div>

          <div class="col">

            <div class="card wallet">

              <div class="overlay"></div>
              <div class="circle">
                <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/cloud-arrow-down-solid.svg" class="icon">
              </div>
              <p>Exporting</p>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-----------------------------------------------------------User/department Manager configuration-------------------------------------------------------------->
    <!---- Current not in use ----->
    <!--<mat-tab label="Department Manager">
      <app-user-management></app-user-management>
    </mat-tab>-->
    <!----------------------------------------------------------BP Department Manager Configuration ----------------------------------------------->
    <mat-tab label=" Building Plans Department Manager">
      <app-bpdepartment-manager></app-bpdepartment-manager>
    </mat-tab>
    <!-----------------------------------------------------------Types Of Excavation-------------------------------------------------------------->
    <mat-tab label="Types Of Excavation">
      <app-type-of-excavation></app-type-of-excavation>
    </mat-tab>
    <!-----------Banner Kyle 26/01/24-------------->
    <!-----------------------------------------------------------System Alerts----------------------------------------------------------------------->
    <mat-tab label="System Alert">
      <app-system-alert-config></app-system-alert-config>
    </mat-tab>
    <!-----------Banner Kyle 26/01/24-------------->
    <!-----------------------------------------------------------FAQ-------------------------------------------------------------->

    <mat-tab label="FAQ">

      <button mat-raised-button color="FAQ" (click)="openFAQModal(FAQModal)">Create New FAQ</button>

      <mat-expansion-panel *ngFor="let faqList of FAQList;let i = index">

        <mat-expansion-panel-header>
          <div class="container-fluid">
            <mat-panel-title>
              Question : {{faqList.Question}}
            </mat-panel-title>
          </div>
          <button mat-raised-button color="warn" (click)="onFAQDelete(i)"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/trash-can-solid-white.svg" aria-hidden="true" class="icon4" style="filter: invert();"></button>
        </mat-expansion-panel-header>

        <mat-label>Answer : {{faqList.Answer}}</mat-label>

      </mat-expansion-panel>
    </mat-tab>

    <!-----------------------------------------------------------Contact Details-------------------------------------------------------------->

<!--    <mat-tab label="Contact Details">
      <app-contact-details></app-contact-details>
    </mat-tab>-->

    <!-----------------------------------------------------Document Repository------------------------------------------------->
    <mat-tab label=" Document Repository">
      <app-document-repository-config></app-document-repository-config>
    </mat-tab>

    <!--Building plans Department documents upload-->

  </mat-tab-group>
</div>

<!--FAQ-->
<ng-template #FAQModal let-modal>
  <div class="standardHeader ">
    <p class="standardText">Creating a new FAQ entry</p>
    <button type="button" class="standardCloseBtn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <mat-form-field appearance="outline">
      <mat-label>Question</mat-label>
      <input matInput  type="text"  [(ngModel)]="question" id="question" name="question" placeholder="Enter Question">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Answer</mat-label>
      <input matInput  type="text"  [(ngModel)]="answer" id="answer" name="answer" placeholder="Enter Answer">
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="addFAQ();modal.close('Save click')">Save</button>
  </div>
</ng-template>
