<button mat-raised-button color="create" (click)="openXl(content)">Add New Department</button>

<!--table displaying the departments-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="departmentName">
    <th mat-header-cell *matHeaderCellDef> Department Name </th>
    <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
  </ng-container>

  <ng-container matColumnDef="functionalArea">
    <th mat-header-cell *matHeaderCellDef> Functional Area </th>
    <td mat-cell *matCellDef="let element"> {{element.functionalArea}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let i = index">
      <button mat-raised-button class="edit" matTooltip="Edit Department Details" (click)="setCurrentDepartmentID(i); onUpdateDepartment(i, editDepartment) "><img src="assets/fontawesome-free-6.4.2-web/svgs/solid/pencil.svg" class="icon4"></button>
      <button mat-raised-button color="warn" matTooltip="Delete Department" (click)="setCurrentDepartmentID(i);onDeleteDepartment(i)"><img src="assets/fontawesome-free-6.4.2-web/svgs/solid/trash-can.svg" class="icon4"></button>
    </td>
    <td mat-cell *matCellDef="let element">  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--==CREATING A NEW DEPARTMENT==CREATING A NEW DEPARTMENT==CREATING A NEW DEPARTMENT==CREATING A NEW DEPARTMENT==CREATING A NEW DEPARTMENT==CREATING A NEW DEPARTMENT==CREATING A NEW DEPARTMENT==CREATING A NEW DEPARTMENT==-->
<ng-template #content let-modal>
  <div class="standardHeader">
    <p class="standardText" id="modal-basic-title">Creating a new department</p>
    <!--<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click');resetHasDep()"></button>-->
    <button type="button" class="standardCloseBtn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="row">
      <mat-form-field>
        <mat-label>FunctionalArea </mat-label>
        <mat-select [(ngModel)]="selectedFunctionalArea" name="selectedFunctionalArea">
          <mat-option *ngFor="let functions of FunctionalAreasList" value="{{functions.FAName}}">{{functions.FAName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <form [formGroup]="addDepartment" (ngSubmit)="onDepartmentCreate()">

      <div class="form-group row">
        <mat-form-field appearance="outline">
          <mat-label>Department Name</mat-label>
          <input matInput  type="text" id="newDeptName" formControlName="newDeptName" name="newDeptName" placeholder="">
        </mat-form-field>
      </div>

    </form>


  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="modal.close('Save click');onDepartmentCreate()">Save</button>
  </div>
</ng-template>

<!--==EDITING DEPARTMENT==EDITING DEPARTMENT==EDITING DEPARTMENT==EDITING DEPARTMENT==EDITING DEPARTMENT==EDITING DEPARTMENT==EDITING DEPARTMENT==EDITING DEPARTMENT==EDITING DEPARTMENT==EDITING DEPARTMENT==EDITING DEPARTMENT==-->
<ng-template #editDepartment let-modal class="mat-elevation-z8">

  <div class="standardHeader">
    <p class="standardText">Editing a department</p>
    <button type="button" class="standardCloseBtn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <!--When the department is selected to edit-->
    <div class="col">

      <mat-form-field appearance="outline" style="width: 100%; margin-top: 20px;">
        <mat-label>New Department Name</mat-label>
        <input matInput  type="text" id="professionalRegNo" [(ngModel)]="selectedDepartmentName" placeholder="" name="selectedDepartmentName">
      </mat-form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="  updateDepartment();modal.close('Close click');">Update</button>
  </div>

</ng-template>


