<app-nav-menu></app-nav-menu>

<div class="barHeader">
<p class="header">User Profile Settings</p>
</div>

<div class="userPSbox">
    <!-----------------------------------------------------------User Profile-------------------------------------------------------------->

      <div class="container-fluid">

        <!--External User information-->
        <div class="container-fluid glass" *ngIf="isInternal == false">
          <button mat-raised-button color="blue" (click)="openEditModal(userProfileEditModal)">Edit My Details</button>
          <button mat-raised-button color="blue" (click)="openEditPasswordModal(passwordEditModal)">Edit My Password</button>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="toa" placeholder="Type of Applicant" disabled>
                <label for="toa">Type of applicant</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantName" placeholder="Enter First Name" readonly>
                <label for="name">Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantSurname" placeholder="Enter Surname" readonly>
                <label for="surname">Surname</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="extApplicantBpNoApplicant" placeholder="Enter BP Number" disabled>
                    <label for="bpNoApplicant">BP Number</label>
                  </div>
                </div>
                <div class="col" *ngIf="telecomms">
                  <!--  icasadetails Sindiswa 10 January 2024 -->
                  <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="externalApplicantICASANumber" placeholder="Enter ICASA License Number" disabled>
                    <label for="externalApplicantICASANumber">ICASA Number</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyName" placeholder="Enter Company Name" readonly>
                <label for="address">Company Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <!--icasadetails Sindiswa 10 January 2024-->
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyRegNo" placeholder="Enter Company Reg No" readonly>
                <label for="address">Company Reg No.</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantVatNumber" placeholder="Enter Vat Number" readonly>
                <label for="extApplicantIDNumber">Vat Number</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-floating mb-3 mt-3">
                <input type="email" class="form-control" [(ngModel)]="extApplicantCompanyType" placeholder="Select Company Type" readonly>
                <label for="applicantEmail">Company Type</label>
              </div>
            </div>
          </div>



          <div class="row">
            <!--            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantIDNumber" placeholder="Enter ID Number" readonly>
                <label for="extApplicantIDNumber">ID Number</label>
              </div>
        //for the emails
                                  <div class="col">
                      <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyName" placeholder="Enter Company Name" readonly>
                        <label for="address">Company Name</label>
                      </div>
                    </div>
            </div>-->
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="email" class="form-control" [(ngModel)]="extApplicantEmail" placeholder="Enter Email" readonly>
                <label for="applicantEmail">Email</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="tel" class="form-control" [(ngModel)]="extApplicantTellNo" placeholder="Enter Tell No." readonly>
                <label for="applicantTellNo">Cell No.</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="email" class="form-control" [(ngModel)]="extApplicantEmailAlt" placeholder="Enter Alt. Email" readonly>
                <label for="applicantEmail">Alternative Email</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="tel" class="form-control" [(ngModel)]=" extApplicantTellNoAlt" placeholder="Enter Alt. Tell No." readonly>
                <label for="applicantTellNo">Alternative Tel No.</label>
              </div>
            </div>

          </div>

          <div class="row">
            <!--<div class="col-lg-8">-->
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantPhyscialAddress" placeholder="Enter Address" readonly>
                <label for="applicantTellNo">Physical Address</label>
              </div>
            </div>


            <!--<div class="col-lg-4">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantVatNumber" placeholder="Enter Vat Number" readonly>
            <label for="extApplicantIDNumber">Vat Number</label>
          </div>
        </div>-->

          </div>



        </div>



        <!--Internal user information-->
        <div alt="me" class="userIMG2" matTooltipPosition="after">
          <img _ngcontent-ng-cli-universal-c373="" src="assets/fontawesome-free-6.4.2-web/svgs/solid/user.svg" class="profileIcon">
         <p class="dp">{{dp}}</p>
      </div>
      <div class="userActions">
          <button class="button-container" mat-raised-button color="blue" (click)="openEditModal(userProfileEditModal)" matTooltip="Edit My Details">
            <img _ngcontent-ng-cli-universal-c373="" src="assets/fontawesome-free-6.4.2-web/svgs/solid/pencil.svg" class="button-icon">
          </button>
          <button class="button-container" mat-raised-button color="blue" (click)="openEditPasswordModal(passwordEditModal)" matTooltip="Change my password">
            <img _ngcontent-ng-cli-universal-c373="" src="assets/fontawesome-free-6.4.2-web/svgs/solid/lock.svg" class="button-icon" >
          </button>
      </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Type of applicant</mat-label>
                <input matInput  type="text"  [(ngModel)]="toa" readonly="">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput  type="text"  [(ngModel)]="internalApplicantName" readonly="">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Surname</mat-label>
                <input matInput  type="text"  [(ngModel)]="internalApplicantSurname" readonly="">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                <input matInput  type="text"  [(ngModel)]="internalApplicantDirectorate" placeholder="Department Name" readonly="">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Branch</mat-label>
                <input matInput  type="text" [(ngModel)]="internalApplicantBranch" placeholder="Branch Code" readonly="">
              </mat-form-field>
            </div>
          </div>
          <!--<div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="email" class="form-control" [(ngModel)]="internalApplicantCostCenterNo" placeholder="Enter Cost Center Number" readonly>
            <label for="applicantEmail">Cost Center Number</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="internalApplicantCostCenterOwner" placeholder="Enter Cost Center Owner" readonly>
            <label for="applicantTellNo">Cost Center Owner</label>
          </div>
        </div>
      </div>-->
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput  type="text" [(ngModel)]="internalApplicantEmail" readonly="">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Tel. Number</mat-label>
                <input matInput  type="text" [(ngModel)]="internalApplicantTellNo" readonly="">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Alternative Email</mat-label>
                <input matInput  type="text" [(ngModel)]="internalApplicantEmailAlt" placeholder="Alternative Email" readonly="">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Alternative Tel. Number</mat-label>
                <input matInput  type="text" [(ngModel)]="internalApplicantTellNoAlt" placeholder="Alternative Number" readonly="">
              </mat-form-field>
            </div>
          </div>
          <!------------------ cards for engineer and contractor------------ -->

<div class="engineer-contractorDiv">
  <p class="contractor-engineerStyle">---- Engineers linked to profile ----</p>
  <p class="contractor-engineerStyle">---- Contractors linked to profile ----</p>
</div>
<div class="engineer-contractorDiv">

          <div class="card" (click)="openEditModal(userProfileEngineerModal)">
              <div class="content">

                    <img _ngcontent-ng-cli-universal-c373="" src="assets/fontawesome-free-6.4.2-web/svgs/solid/user-gear.svg" class="gearLogo">

                  <span class="logo-bottom-text">Engineers</span>
                </div>
              </div>


              <div class="card" (click)="openEditModal(userProfileContractorModal)">
                <div class="content">

                      <img _ngcontent-ng-cli-universal-c373="" src="assets/fontawesome-free-6.4.2-web/svgs/solid/user-gear.svg" class="gearLogo">

                    <span class="logo-bottom-text">Contractors</span>

                    <!-- <span class="trail"></span> -->
                  </div>
                </div>

              </div>
            </div>



            <!-- end of engineer card -->
             <!-- -----------------card for contractor-------------------- -->



        <!-- #region OLD USER PROFILE -->




    <!-----------------------------------------------------------Engineers-------------------------------------------------------------->
    <!-- <mat-tab label="Engineers">
      <app-edit-engineer></app-edit-engineer>
    </mat-tab> -->
    <!-----------------------------------------------------------Contractors-------------------------------------------------------------->
    <!-- <mat-tab label="Contractors">
      <app-edit-contractor></app-edit-contractor>
    </mat-tab> -->
    <!------------Clients For Architect Users---------->
    <!--<mat-tab label="Clients">
      <app-edit-clients></app-edit-clients>
    </mat-tab>-->
    <!--------------------Architects FOr external Users -------------->
    <!--<mat-tab label="Architects">
     <app-edit-architects></app-edit-architects>
    </mat-tab>-->
</div>
<!-- #endregion -->
<!-- ----------------modal for engineers----------------- -->

<ng-template #userProfileEngineerModal let-modal>
  <div class="editMyProfileHeader">
    <h4 class="editMyProfileText" id="modal-basic-title">Engineers linked to profile</h4>
    <button type="button" class="editMyProfileCloseBtn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
        <app-edit-engineer></app-edit-engineer>
  </div>
</ng-template>

<ng-template #userProfileContractorModal let-modal>
  <div class="editMyProfileHeader">
    <h4 class="editMyProfileText" id="modal-basic-title">Contractors linked to profile</h4>
    <button type="button" class="editMyProfileCloseBtn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-edit-contractor></app-edit-contractor>
  </div>
</ng-template>

<!-- end of engineer modal -->

<ng-template #userProfileEditModal let-modal>
  <div class="editMyProfileHeader">
    <h4 class="editMyProfileText" id="modal-basic-title">Edit my profile</h4>
    <button type="button" class="editMyProfileCloseBtn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="container-fluid" *ngIf="isInternal == false">

      <div class="row">
        <div class="col">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantBpNoApplicantEdit" placeholder="Enter BP Number" disabled>
              <label for="bpNoApplicant">BP Number</label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyNameEdit" placeholder="Enter Company Name" readonly>
            <label for="address">Company Name</label>
          </div>
        </div>
      </div>
      <!--  icasadetails Sindiswa 10 January 2024 -->
      <div class="row">
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="externalApplicantICASANumberEdit" placeholder="Enter ICASA License Number">
          <label for="address">ICASA Number</label>
        </div>
      </div>
      <!-- end of  icasadetails Sindiswa 10 January 2024 -->
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyRegNoEdit" placeholder="Enter Company Reg No">
            <label for="address">Company Reg No.</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="email" class="form-control" [(ngModel)]="extApplicantCompanyTypeEdit" placeholder="Select Company Type">
            <label for="applicantEmail">Company Type</label>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantNameEdit" placeholder="Enter First Name">
            <label for="name">Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantSurnameEdit" placeholder="Enter Surname">
            <label for="surname">Surname</label>
          </div>
        </div>
      </div>

      <div class="row">
        <!--<div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantIDNumberEdit" placeholder="Enter ID Number">
            <label for="extApplicantIDNumber">ID Number</label>
          </div>

        </div>-->
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="tel" class="form-control" [(ngModel)]="extApplicantTellNoEdit" placeholder="Enter Tell No.">
            <label for="applicantTellNo">Tel No.</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="email" class="form-control" [(ngModel)]="extApplicantEmailEdit" placeholder="Enter Email" disabled>
            <label for="applicantEmail">Email</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="tel" class="form-control" [(ngModel)]=" extApplicantTellNoAltEdit" placeholder="Enter New Alt. Tell No.">
            <label for="applicantTellNo">Alternative Tel No.</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="email" class="form-control" [(ngModel)]="extApplicantEmailAltEdit" placeholder="Enter New Alt. Email">
            <label for="applicantEmail">Alternative Email</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="form-floating mb-3 mt-3">
            <!--<input type="text" class="form-control" [(ngModel)]="extApplicantPhyscialAddressEdit" placeholder="Enter Address">-->
            <input ngx-google-places-autocomplete class="form-control google-placess" [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" [(ngModel)]="extApplicantPhyscialAddressEdit" appendTo="#userProfileEditModal" />
            <label for="applicantAddress">Physical Address</label>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantVatNumberEdit" placeholder="Enter Vat Number">
            <label for="extApplicantIDNumber">Vat Number</label>
          </div>
        </div>

      </div>


    </div>

    <div class="container-fluid" *ngIf="isInternal == true">


      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput  type="text" [(ngModel)]="internalApplicantNameEdit" placeholder="Enter First Name">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Surname</mat-label>
            <input matInput  type="text" [(ngModel)]="internalApplicantSurnameEdit" placeholder="Enter Surname">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Department</mat-label>
            <input matInput  type="text" [(ngModel)]="internalApplicantDirectorateEdit" disabled="">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Branch</mat-label>
            <input matInput  type="text" [(ngModel)]="internalApplicantBranchEdit" placeholder="Enter Branch Code">
          </mat-form-field>
        </div>
      </div>
      <!--<div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="email" class="form-control" [(ngModel)]="internalApplicantCostCenterNoEdit" placeholder="Enter Cost Center Number">
            <label for="applicantEmail">Cost Center Number</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="internalApplicantCostCenterOwnerEdit" placeholder="Enter Cost Center Owner">
            <label for="applicantTellNo">Cost Center Owner</label>
          </div>
        </div>
      </div>-->

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Telephone</mat-label>
            <input matInput  type="text" [(ngModel)]="internalApplicantTellNoEdit" placeholder="Enter New Telephone">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput  type="text" [(ngModel)]="internalApplicantEmailEdit" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Alt Telephone</mat-label>
            <input matInput  type="text" [(ngModel)]="internalApplicantTellNoAltEdit" placeholder="Enter New Alt. Telephone">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Alt Email</mat-label>
            <input matInput  type="text" [(ngModel)]="internalApplicantEmailAltEdit" placeholder="Enter New Alt. Email">
          </mat-form-field>
        </div>
      </div>



    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)=" updateUserProfileDetails();modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #passwordEditModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Please enter in your <strong>CURRENT</strong> password.</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="currentPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="updatePassword(newPasswordModal)">Next</button>
  </div>
</ng-template>


<ng-template #newPasswordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Please enter in your <strong>NEW</strong> password.</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Re-enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newReEnterPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="changePassword()">Save</button>
  </div>
</ng-template>
