
<table mat-table class="mat-elevation-z8" [dataSource]="dataSource">

  <ng-container matColumnDef="ChecklistItem">
    <th mat-header-cell *matHeaderCellDef> Item to be checked</th>
    <td mat-cell *matCellDef="let element">{{element.ChecklistItem}}</td>
  </ng-container>

  <ng-container matColumnDef="Yes">
    <th mat-header-cell *matHeaderCellDef> Yes</th>
    <td mat-cell *matCellDef="let element ; let i = index">

      <!-- For the minus button -->
      <button class="btn btn-success" *ngIf="element.isChecked == true">
        &#10003; <!-- Unicode check (tick) character -->
      </button>

      <!-- For the plus button -->
      <button class="btn btn-danger" (click)="changeChecklistItemStatus('true',i)" *ngIf="element.isChecked != true">
        &#10005; <!-- Unicode cross character -->
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="No">
    <th mat-header-cell *matHeaderCellDef>No </th>
    <td mat-cell *matCellDef="let element ; let i = index">

      <!-- For the minus button -->
      <button class="btn btn-success" (click)=" changeChecklistItemStatus('false',i)" *ngIf="element.isChecked == false ">
        &#10003; <!-- Unicode check (tick) character -->
      </button>

      <!-- For the plus button -->
      <button class="btn btn-danger" (click)=" changeChecklistItemStatus('false',i)" *ngIf="element.isChecked != false">
        &#10005; <!-- Unicode cross character -->
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="NotApplicable">
    <th mat-header-cell *matHeaderCellDef>Not Applicable </th>
    <td mat-cell *matCellDef="let element ; let i = index">

      <!-- For the minus button -->
      <button class="btn btn-success" *ngIf="element.isChecked == null && element.isApplicable != true" >
        &#10003; <!-- Unicode check (tick) character -->
      </button>

      <!-- For the plus button -->
      <button class="btn btn-danger" (click)=" changeChecklistItemStatus('Not Applicable',i)" *ngIf="element.isApplicable == true || element.isApplicable == null && element.isChecked != null" >
        &#10005; <!-- Unicode cross character -->
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
</table>
